extends ./layout/structure.pug

block content
  
  div.container
    .banners
      .banner-1
      .other-banners
        .banner-2
        .banner-3

  .container
    .articles
      p.title tin công nghệ
      hr
      .getArticles
        if getArticles
          .article-image.mr-3
            each image in getArticles.images.slice(0, 10)
              img.mb-2(src=image.image, alt="", width="60px", height="50px")
          .article
            each article in getArticles.articles.slice(0, 10)
              a.mb-2(href=article.url, target="blank")
                p.article-title= article.title
    .hot-products
      if query 
        p.title
          | # #{query}
      else
        p.title sách mới trong tuần
      hr.ml-2.mr-2
      ul.list 
        each product in products
          .item
            a(href="/products/"+product._id)
              img(src="http://localhost:5001/"+product.image.split("/").slice(1).join("/"), alt="")
            .item-info
              .item-title
                p= product.name
              .button-view
                  a(href="/products/"+product._id) 
                    p $9.99
          