extends ../layout/structure.pug

block content
  .container
    h1.portal-title Giỏ Hàng Của Tôi
    a(href="/").btn.btn-primary.text-light
      i.fas.fa-arrow-left 
      span &nbsp;
      | Tiếp tục mua hàng
    .portal
      if freqCounterName
        each val, index in freqCounterName
          .buy-item
            .item-name= index
            .item-number-group
              form(action="/cart/decrement/" + index.split(" ").join("-"), method="POST")
                input(type="hidden", value=val-1, name=index)
                button.item-number-decrement(type="submit") - 
              .item-number= val
              form(action="/cart/increment/" + index.split(" ").join("-"), method="POST")
                input(type="hidden", value=val+1, name=index)
                button.item-number-increment(type="submit") +
            form(action="/cart/delete/"+index.split(" ").join("-"), method="POST")
              input(type="hidden", value=0, name=index)
              button.item-delete(type="submit") Delete

    .payment
      .payment-amount Tổng tiền $#{cartNumber * 9.99}
      button.payment-button Thanh toán
          
